#navbar{
    /* background-color: rgb(161, 19, 204); */
    /* background-color: #ffb642; */
    background-color: #0395c5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
}

#list{
    display: flex;
    list-style-type: none;
}
li{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.home-link{
    color: #fff;
    text-decoration: none;
}
.logout-class{
    font-size: 18px;
}

Link{
    text-decoration: none;
    color: #fff;
    
}